<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android. permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <uses-feature
        android:name="android.hardware.sensor.step_counter"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.stepdetector"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthSync"
        tools:targetApi="31">
        <activity
            android:name=".activity_fuerza23"
            android:exported="false" />
        <activity
            android:name=".activity_fuerza21"
            android:exported="false" />
        <activity
            android:name=".activity_fuerza19"
            android:exported="false" />
        <activity
            android:name=".activity_fuerza17"
            android:exported="false" />
        <activity
            android:name=".activity_fuerza15"
            android:exported="false" />
        <activity
            android:name=".activity_fuerza13"
            android:exported="false" />
        <activity
            android:name=".activity_fuerza11"
            android:exported="false" />
        <activity
            android:name=".activity_fuerza9"
            android:exported="false" />
        <activity
            android:name=".activity_fuerza7"
            android:exported="false" />
        <activity
            android:name=".activityfuerza5"
            android:exported="false" />
        <activity
            android:name=".activity_fuerza3"
            android:exported="false" />
        <activity
            android:name=".activity_pausaf"
            android:exported="false" />
        <activity
            android:name=".activity_fuerza1"
            android:exported="false" />
        <activity
            android:name=".activity_tiempovascular26"
            android:exported="false" />
        <activity
            android:name=".activity_tiempovascular24"
            android:exported="false" />
        <activity
            android:name=".activity_tiempovascular21"
            android:exported="false" />
        <activity
            android:name=".activity_tiempovascular19"
            android:exported="false" />
        <activity
            android:name=".activity_tiempovascular17"
            android:exported="false" />
        <activity
            android:name=".activity_tiempovascular15"
            android:exported="false" />
        <activity
            android:name=".activity_timepovascular13"
            android:exported="false" />
        <activity
            android:name=".activity_tiempovascular11"
            android:exported="false" />
        <activity
            android:name=".activity_tiempovascular8"
            android:exported="false" />
        <activity
            android:name=".activity_tiempovascular6"
            android:exported="false" />
        <activity
            android:name=".activity_tiempovascular5"
            android:exported="false" />
        <activity
            android:name=".activity_tomadescaso2"
            android:exported="false" />
        <activity
            android:name=".activity_yoga9"
            android:exported="false" />
        <activity
            android:name=".activity_yoga8"
            android:exported="false" />
        <activity
            android:name=".activity_yoga7"
            android:exported="false" />
        <activity
            android:name=".activity_yoga6"
            android:exported="false" />
        <activity
            android:name=".activity_finalyoga"
            android:exported="false" />
        <activity
            android:name=".activity_yoga23"
            android:exported="false" />
        <activity
            android:name=".activity_yoga22"
            android:exported="false" />
        <activity
            android:name=".activity_yoga21"
            android:exported="false" />
        <activity
            android:name=".activity_yoga20"
            android:exported="false" />
        <activity
            android:name=".activity_yoga19"
            android:exported="false" />
        <activity
            android:name=".activity_yoga18"
            android:exported="false" />
        <activity
            android:name=".activity_yoga17"
            android:exported="false" />
        <activity
            android:name=".activity_yoga16"
            android:exported="false" />
        <activity
            android:name=".activity_yoga15"
            android:exported="false" />
        <activity
            android:name=".activity_yoga14"
            android:exported="false" />
        <activity
            android:name=".activity_yoga13"
            android:exported="false" />
        <activity
            android:name=".activity_yoga12"
            android:exported="false" />
        <activity
            android:name=".activity_yoga11"
            android:exported="false" />
        <activity
            android:name=".activity_yoga10"
            android:exported="false" />
        <activity
            android:name=".activity_yoga5"
            android:exported="false" />
        <activity
            android:name=".activity_yoga4"
            android:exported="false" />
        <activity
            android:name=".activity_stepCounter"
            android:exported="false" />
        <activity
            android:name=".activity_yoga3"
            android:exported="false" />
        <activity
            android:name=".activity_yoga2"
            android:exported="false" />
        <activity
            android:name=".activity_yoga1"
            android:exported="false" />
        <activity
            android:name=".editarPerfil"
            android:exported="false" />
        <activity
            android:name=".cambiodeclave"
            android:exported="true" />
        <activity
            android:name=".codigoVerificacion"
            android:exported="true" />
        <activity
            android:name=".activity_rutina_cardiovascular"
            android:exported="false" />
        <activity
            android:name=".activity_rutinafinalizadaaltaintensidad"
            android:exported="false" />
        <activity
            android:name=".activity_rutinaintensidadsalto"
            android:exported="false" />
        <activity
            android:name=".activity_rutinaintensidadtmp"
            android:exported="false" />
        <activity
            android:name=".activity_pantallafinalderitmo"
            android:exported="false" />
        <activity
            android:name=".activity_ritomo3"
            android:exported="false" />
        <activity
            android:name=".activity_ritmo2"
            android:exported="false" />
        <activity
            android:name=".activity_runnig"
            android:exported="false"
            android:theme="@style/Theme.HealthSync" />
        <activity
            android:name=".activity_pararunnig"
            android:exported="false" />
        <activity
            android:name=".activity_rutinafinalizadafuerza"
            android:exported="false" />
        <activity
            android:name=".activity_plancha"
            android:exported="false" />
        <activity
            android:name=".activity_zancadas"
            android:exported="false" />
        <activity
            android:name=".activity_rutinafinalizada"
            android:exported="false" />
        <activity
            android:name=".activity_abdominales"
            android:exported="false" />
        <activity
            android:name=".activity_flexiones"
            android:exported="false" />
        <activity
            android:name=".activity_sentadillas"
            android:exported="false" />
        <activity
            android:name=".activity_ritmolento"
            android:exported="false"
            android:theme="@style/Theme.HealthSync" />
        <activity
            android:name=".activity_correespacio"
            android:exported="false" />
        <activity
            android:name=".activity_estiramientodinamico"
            android:exported="false" />
        <activity
            android:name=".activity_pausa20"
            android:exported="false" />
        <activity
            android:name=".activity_pausas"
            android:exported="false" />
        <activity
            android:name=".activity_tiempovascular"
            android:exported="false" />
        <activity
            android:name=".activity_contador_pasos"
            android:exported="false" />
        <activity
            android:name=".activity_mapa_principal"
            android:exported="false" />
        <activity
            android:name=".activity_yoga"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDximuRbNYkzRBbt-GK5lkp3G-nvJqk1JA" />

        <activity
            android:name=".Recuperacion"
            android:exported="true" />
        <activity
            android:name=".ConfirmarPreguntas"
            android:exported="false" />
        <activity
            android:name=".activity_altaintensidad"
            android:exported="false" />
        <activity
            android:name=".pregunta6"
            android:exported="false" />
        <activity
            android:name=".pregunta5"
            android:exported="false" />
        <activity
            android:name=".pregunta4"
            android:exported="false" />
        <activity
            android:name=".pregunta3"
            android:exported="true" />
        <activity
            android:name=".pregunta2"
            android:exported="false" />
        <activity
            android:name=".pregunta1"
            android:exported="false" />
        <activity
            android:name=".navigatioPrincipal"
            android:exported="false"
            android:label="@string/title_activity_navigatio_principal" />
        <activity
            android:name=".activity_alimentacion"
            android:exported="false" />
        <activity
            android:name=".Activity_rutinafuerza"
            android:exported="false" />
        <activity
            android:name=".activity_hidratacion"
            android:exported="false" />
        <activity
            android:name=".activity_rutinas"
            android:exported="false" />
        <activity
            android:name=".activity_mapa"
            android:exported="false" />
        <activity
            android:name=".activity_Hidra_y_Alimen"
            android:exported="false" />
        <activity
            android:name=".LoadingActivity2"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".registrarse"
            android:exported="false" />
        <activity
            android:name=".Bienvenida"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoadingActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>